<!DOCTYPE html>
<html lang="en">

    <head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        


        <meta name="description" content="">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <!-- Favicon icon -->
    <title>KEYSTONE</title>
    <!-- Bootstrap Core CSS -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom CSS -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style3.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style8.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style9.css') }}">

<!--   <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
 -->    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style11.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style12.css') }}">
   <style type="text/css">
  
nav{
  background-color: #AC3535 !important;

}
nav ul li a{
   color: #fff !important;
}
.dropdown-menu{
  background-color: #AC3535!important;
}
.dropdown-item:hover{
  background-color: #AC3535 !important;
}
.dropdown-menu a{
 color: #fff !important;
}
.home{
  cursor: pointer;
}
.navbar-brand{
  color: #fff;
}
.navbar-brand:hover{
  color:#fff;
}
.md{
  color:#fff !important;
  cursor: pointer;
}
.md:hover{
  color:#fff !important;
}
</style> 
<nav class="navbar  navbar-expand-lg  ">
  <a class="navbar-brand menuL md">KEYSTONE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="color: white">
  <img src="/static/navbarmenu.svg" width="30px">
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" > 
    <ul class="navbar-nav ml-auto " >
      <li class="nav-item home">
        <a class="nav-link menuL"  href="/" data-toggle="collapse" data-target=".navbar-collapse.show"><img src="/static/homemenu.svg" width="30px;"> Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item home">
        <a class="nav-link menuL"  href="/twitter" data-toggle="collapse" data-target=".navbar-collapse.show"><img src="/static/twitter.png" width="30px;"> Twitter <span class="sr-only"></span></a>
      </li>
    </ul>
  </div>
</nav>


<script type="text/javascript">

function load(url) {
  const full = location.protocol + '//' + location.host;
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
location.reload();
       }
    };
    xhttp.open("GET", location.protocol + '//' + location.host+url, true);
    xhttp.send();
}


  function delete_bird(id) {
  if (confirm('Are you sure to delete this bird ?')) {
    load("/birds/delete/"+id) 
  }
}


function mute_bird(id,x) {
  if (confirm('Are you sure you want to mute this bird ?')) {
    load("/birds/mute/"+id+"?mute="+x)
  }
}




function add_bird(bird_name) {
  if (confirm('Are you sure you want to add this naughty bird ?')) {
    load("/birds/add/"+bird_name)
  }
}

</script>


<div class="container-fluid">

<center>
<label for="name">Username:</label>
<input id="bird_name" name="username" class="form-control" type="text" value=""><br>
<br><br>

<button name="add_user" onclick=add_bird(document.getElementById("bird_name").value) class="btn btn-info btn-sm"><i class="fa fa-bolt"></i> Add user</button>
</center>
</form>

                </div>
<div class="container-fluid">
	<div id="example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
		<div class="row">
			<div class="col-sm-12">
				<div class="table-responsive">
					<a class="menuS" href="myaccounts" style="float: right;"> 
					
					</a>
				<div id="example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap"><div class="row"><div class="col-sm-6"></div><div class="col-sm-6"><div id="example_filter" class="dataTables_filter"></div></div></div><div class="row"><div class="col-sm-12">







<table class="table table-striped dataTable no-footer" id="example" cellpadding="0" cellspacing="0" align="center" data-page-length="20" role="grid" aria-describedby="example_info" style="width: 1281px;">
<thead class="thead" style="background-color: #AC3535;color: #fff; ">
<td class="sorting_disabled" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 67.6px;" aria-label="Buy: activate to sort column ascending">User ID</td>
<td class="sorting_disabled" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 67.6px;" aria-label="Buy: activate to sort column ascending">username</td>
<td class="sorting_disabled" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 67.6px;" aria-label="Buy: activate to sort column ascending">Mute</td>
<td class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 90.6px;" aria-label="Check: activate to sort column ascending">Delete</td>
</tr>
</thead>
<tfoot style="background-color: #AC3535;color: #fff; ">
<tr>
<td rowspan="1" colspan="1">User ID</td>
<td rowspan="1" colspan="1">Username</td>
<td rowspan="1" colspan="1">Muted</td>
<td rowspan="1" colspan="1">Delete</td>
</tr>
</tfoot>
<tbody>
{% for bird in twitters %}
<tr role="row" class="odd">
<td>{{bird['user_id']}} </td>
<td>{{bird['username']}} </td>
{%if bird['muted']==0 %}
<td><button class="btn btn-outline-danger" onclick="mute_bird('{{bird['_id']}}','1')">Mute </button></td>
{% else %}
<td><button class="btn btn-outline-success" onclick="mute_bird('{{bird['_id']}}','0')">Unmute </button></td>
{% endif %}
<td style="text-align:left;"><button class="btn btn-outline-danger" onclick="delete_bird('{{bird['_id']}}','-1')">Delete</button></td>
</tr>
{% endfor %}


</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>



    <style>
        .rating {
            unicode-bidi: bidi-override;
            direction: rtl;
        }
        .rating > span {
            display: inline-block;
            position: relative;
            width: 1.1em;
        }
        .rating > span:hover:before,
        .rating > span:hover ~ span:before {
            content: "\2605";
            position: absolute;
        }
    </style>
</head>

  <div id="news-place"></div>
  <div class="main">
              </div>
  <center>
<br>
</div>
<style>
  #footeri{
    background-color: #AC3535;
    color:white;
    padding:5px;
    bottom: 0;
    width: 100%;
    position: fixed;
    border: 0 solid black;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    z-index: 3;
  }
#footeri a{
    color:white;
}
#footeri a:hover{
    color:white;
}

    </style>

   <center id="footeri"> Developed by &copy; <a href="">KEYSTONE</a></center>

</body>
</html>
