
.kolonat{
	text-align:center;
	width: 100%;

}
 .sub2 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	margin:auto;
	padding: 0;
}
.sub3 h6{
  width: 340px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin:auto;
  background-color: #AECF9A;
  margin-left: 80px;
  margin-top:5px;
  color:black;
  font-family: monospace;

}

.sub7 {
	float: left;
	width: 280px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  	padding:0;
  	margin-top:5px;font-family: monospace;

  	font-size: 12px !important;
}
.sub8{ 
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	float: right;
margin-top:5px;
}

.test123{
	height: 150px;
	margin:auto;

}
#title{
	background-color: #f7f7f7;
	color:#25354a;
	border:3px solid #fff;
	padding: 5px;
	font-size: 16px;
}

.test123{
	background-color: #f2f2f2;
	padding:5px;
	border: solid #fff;
	
	}
h6{
	background-color: #25354a;
	padding:15px;
	margin:0;
	color:white;
	  	font-size: 12px !important;
}
.asd{
	margin-top: 5px;
}
.asd2{
	margin-left: 5px;
}
select{
	background-color: #25354a !important;
	color: #fff!important;
	padding: 5px;
	margin-right: 30px;
	

}
textarea { 
	font-size: 16px; background-color: transparent;border: none;font-family: monospace;
}







@media {

.kolonat{
	text-align:center;
	width: 100%;

}
 .sub2 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	margin:auto;
	padding: 0;
}
.sub3 h6{
  width: 340px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin:auto;
  background-color: #25435a;
  margin-left: 80px;
  margin-top:5px;
  color:#fff;
  font-family: monospace;

}

.test123{
	height: 150px;
	margin:auto;

}
#title{
	background-color: #f7f7f7;
	color:#25354a;
	border:3px solid #fff;
	padding: 5px;
	font-size: 16px;
}

.test123{
	background-color: #f2f2f2;
	padding:5px;
	border: solid #fff;
	
	}
.asd{
	margin-top: 5px;
}
.asd2{
	margin-left: 5px;
}

select{
	background-color: #25354a !important;
	color: #fff!importan;
	padding: 5px;
	margin-right: 30px;
	

}

.right h6{
	background-color: #AECF9A;
	color:black;
}
.sub3{
	margin-left: -80px !important;
}
.right{
	margin-left: -80px !important;

}


textarea { 
	font-size: 16px; background-color: transparent;border: none;font-family: monospace;
}
}
